html {
  font-size: 62.5%;
}

body {
  width: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.header-card {
  text-align: center;
  font-size: 12px;
}

.header-card h1:first-child {
  font-weight: 300;
  margin-bottom: 0%;
  color: hsl(229, 6%, 66%);
}

.header-card h1:last-of-type {
  color: hsl(234, 12%, 34%);
  margin-top: 5px;
}

.header-card p {
  color: hsl(229, 6%, 66%);
  font-size: larger;
}

/* styling all cards */
.all-cards {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.cards {
  padding: 30px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 1px 1px 20px -10px;
}

.cards img {
  align-self: flex-end;
}

.cards h1 {
  color: hsl(234, 12%, 34%);
}

.cards p {
  color: hsl(229, 6%, 66%);
  line-height: 1.8;
  margin-top: 0;
}

/* styling each card */
.first-card {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.second-card {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.third-card {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.fourth-card {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.flex-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .cards {
    width: 190px;
  }

  .all-cards {
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-shrink: ;
  }

  .container {
    width: 800px;
    align-items: center;
  }

  .header-card {
    width: 480px;
  }
}
